@{
    ViewData["Title"] = "Filling the history";
}
<h2>History Form</h2>

<form method="post" class="form-horizontal" role="form">
    <input type="hidden" value="@ViewBag.PatientId" name="PatientId" />
    <p>Please fill the hisory of patient's visits</p>
    <div class="form-group">
        <label for="User" class="col-md-2 control-label">Specialist:</label>
        <div class="col-md-4">
            <input type="text" name="Specialist" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <label for="Address" class="col-md-2 control-label">Complaints:</label>
        <div class="col-md-4">
            <input type="text" name="Complaints" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">Diagnosis:</label>
        <div class="col-md-4">
            <input type="text" name="Diagnosis" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Send" />
        </div>
    </div>

    <tr>
    <td>@ViewBag.ColDate</td>
    </tr>
</form>
