@model IEnumerable<ClinicNetCore.Models.Patient>
@{
    ViewData["Title"] = "Каталог товаров";
}
<h3>Patients</h3>
<table class="table-condensed">
    <tr>
        <td>Name</td>
        <td>Address</td>
        <td>Phone</td>
        <td></td>
    </tr>
    @foreach (var patient in Model)
    {
        <tr>
            <td>@patient.FName</td>
            <td>@patient.Address</td>
            <td>@patient.Phone</td>
            <td><a href="~/Home/FillVisit/@patient.Id">Fill</a></td>
        </tr>
    }
</table>
